<!DOCTYPE html>
<html lang="zh-CN" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="common/_fragment::head(~{::title},~{},~{})">
	<meta charset="UTF-8">
	<title>分类管理</title>
</head>
<body class="d-flex flex-column" style="min-height: 100vh;background-color: #f0f0f0">
<header th:replace="common/_fragment::header"></header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row" th:replace="admin/index::adminNav"></div>
                <div class="row">
                    <div class="card w-100 mb-3 mx-3">
                        <form action="#" method="post" th:object="${type}" th:action="*{id}==null?@{/admin/type}:@{/admin/type/{id}(id=*{id})}">
                        <div class="card-body">
                        	<input type="text" class="form-control" id="type" placeholder="输入分类名称" th:field="*{name}">
                        	<div class="m-2 text-danger">
                        		<small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                        	</div>
                        	<input type="hidden" name="_method" value="put" th:if="${type.id!=null}"/>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary mx-2">提交</button>
                            <a th:href="@{/admin/types}" class="btn btn-secondary mx-2">返回</a>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row" th:replace="admin/index::adminSideBar">
                    <div class="card mb-3 mx-3 mx-lg-0">
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem blanditiis in iusto quam sunt tempora tempore, veniam. Asperiores deleniti facilis fugit laboriosam minus nisi nostrum quae, saepe, vel, veniam voluptatem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="common/_fragment::footer">
</footer>

</body>
</html>